@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Merriweather:wght@300&family=Playfair+Display&display=swap");
* {
  /* font-family: "Caveat Brush", cursive; */
  font-family: "Merriweather", serif;
  /* font-family: "Playfair Display", serif; */
}
.home_title {
  font-size: 60px;
  font-family: "Caveat Brush", cursive;
  width: fit-content;
  margin: 0 auto;
  color: rgb(235, 155, 6);
}
a {
  text-decoration: none;
}
.exam_data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.exam_topic {
  width: 350px;
  color: rgb(235, 155, 6);
  border: 0.5px solid rgb(235, 155, 6);
  padding: 5px 15px 5px 15px;
  margin: 8px;
  font-size: 40px;
  border-radius: 10px;
}
.exam_topic:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(235, 155, 6);
}
